<!DOCTYPE html>
<html lang="en">
  
  <body>
    <!--Vista inicial-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand">View Data</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- Page Content -->
    <main role="main" class="container my-auto">
      <br></br>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Matricula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Primer Apellido</th>
              <th scope="col">Segundo Apellido</th>
              <th scope="col">Edad</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Sexo</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
            </tr>
            <tr>
          </tbody>
        </table>

    <div style="width: 500px;">
        <a href="/"><button type="button" class="btn" style="background:#C0C0C0">Regresar</button></a>
    </div>

  </body>
</html>