<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>

    <br></br>

<!--Vista inicial-->

  <header class="py-5 bg-image-full" style="background-image: url('https://th.bing.com/th/id/OIP.QATDD-gOKv2c2M1D4bCuQgHaHa?pid=Api&rs=1');">
   
  </header>

  <main role="main" class="container my-auto">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Registro Utec 2020</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
             
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
  

    <!--Cartas-->

    <div class="row text-center">

      <div class="col-lg-1 col-md-1 mb-1">
        <div>
         
          <div class="card-body"></div>
        </div>
      </div>

    <!--Opercaiones-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-60 w-60">
          
          <div class="card-footer">
            <a class="btn " style="background:#FF33CC">Operaciones - - > </a>
          </div>
        </div>
      </div> 

    <!--Insert-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-60 w-60">
          
          <div class="card-body"></div>
          <div class="card-footer">
            <a href="insert" class="btn " style="background:#00CC00">Insert</a>
          </div>
        </div>
      </div>
    <!--List-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-60 w-60">
          <img class="card-img-top" src="http://nfsa.samagra.gov.in/Gacdn/images/Archives_Icon.jpg" height="200" width="150">
          <div class="card-body"></div>
          <div class="card-footer">
            <a href="list" class="btn " style="background:#0066FF">List</a>
          </div>
        </div>
      </div>

      <!--View
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-60 w-60">
>
          <div class="card-body"></div>
          <div class="card-footer">
            <a href="/view" class="btn " style="background:#FF0000">View</a>
          </div>
        </div>
      </div> -->

      <!--Update
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-60 w-60">
          
          <div class="card-body"></div>
          <div class="card-footer">
            <a href="update" class="btn " style="background:#FFFF00">Update</a>
          </div>
        </div>
      </div>-->

      <!--Delete
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-60 w-60">
          
          <div class="card-footer">
            <a href="delete" class="btn " style="background:#00CCCC">Delete</a>
          </div>
        </div>
      </div>-->

  </body>

</html>
